<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta name="description"
	content="Citytours - Premium site template for city tours agencies, transfers and tickets." />
<meta name="author" content="Ansonika" />
<title>Eventra</title>

<!-- Favicons-->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" type="image/x-icon"
	href="img/apple-touch-icon-57x57-precomposed.png" />
<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72"
	href="img/apple-touch-icon-72x72-precomposed.png" />
<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
	href="img/apple-touch-icon-114x114-precomposed.png" />
<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
	href="img/apple-touch-icon-144x144-precomposed.png" />

<!-- GOOGLE WEB FONT -->
<link
	href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Montserrat:wght@300;400;500;600;700&display=swap"
	rel="stylesheet" />

<!-- COMMON CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<link href="css/vendors.css" rel="stylesheet" />

<!-- SPECIFIC CSS -->
<link href="css/admin.css" rel="stylesheet" />

<!-- CUSTOM CSS -->
<link href="css/g1_6_custom.css" rel="stylesheet" />
<link href="css/g1_10_custom.css" rel="stylesheet" />
<link href="css/g1_10_custom_common.css" rel="stylesheet" />
<link href="css/g1_10_custom_admin.css" rel="stylesheet" />
</head>

<body>
	<div id="preloader">
		<div class="sk-spinner sk-spinner-wave">
			<div class="sk-rect1"></div>
			<div class="sk-rect2"></div>
			<div class="sk-rect3"></div>
			<div class="sk-rect4"></div>
			<div class="sk-rect5"></div>
		</div>
	</div>
	<!-- End Preload -->

	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->

	<!-- Header================================================== -->
	<header>
		<div id="top_line">
			<div class="container">
				<div class="row">
					<div class="col-6">
						<i class="icon-phone"></i><strong>0045 043204434</strong>
					</div>
					<div class="col-6">
						<ul id="top_links">
							<li><a href="#0">Sign out</a></li>
						</ul>
					</div>
				</div>
				<!-- End row -->
			</div>
			<!-- End container-->
		</div>
		<!-- End top line-->

		<div class="container">
			<div class="row">
				<div class="col-3">
					<div id="logo">
						<a href="index.html"><img src="img/logo.png" width="160"
							height="34" alt="City tours" class="logo_normal" /></a> <a
							href="index.html"><img src="img/logo_sticky.png" width="160"
							height="34" alt="City tours" class="logo_sticky" /></a>
					</div>
				</div>
				<nav class="col-9">
					<a class="cmn-toggle-switch cmn-toggle-switch__htx open_close"
						href="javascript:void(0);"><span>Menu mobile</span></a>
					<div class="main-menu">
						<div id="header_menu">
							<img src="img/logo_sticky.png" width="160" height="34"
								alt="City tours" />
						</div>
						<a href="#" class="open_close" id="close_in"><i
							class="icon_set_1_icon-77"></i></a>
						<ul>
							<li class="submenu"><a href="javascript:void(0);"
								class="show-submenu">Home <i class="icon-down-open-mini"></i></a>
								<ul>
									<li><a href="index.html">Owl Carousel Slider</a></li>
									<li><a href="index_25.html">KenBurns Slider</a></li>
									<li><a href="index_22.html">Home items with Carousel</a></li>
									<li><a href="index_23.html">Home with Search V2</a></li>
									<li class="third-level"><a href="javascript:void(0);">Revolution
											slider <strong class="badge badge-danger">New!</strong>
									</a>
										<ul>
											<li><a href="index_24.html">Default slider</a></li>
											<li><a href="index_20.html">Basic slider</a></li>
											<li><a href="index_14.html">Youtube Hero</a></li>
											<li><a href="index_15.html">Vimeo Hero</a></li>
											<li><a href="index_17.html">Full Screen <strong
													class="badge badge-danger">New!</strong>
											</a></li>
											<li><a href="index_21.html">Full Screen Slicey <strong
													class="badge badge-danger">New!</strong>
											</a></li>
											<li><a href="index_16.html">Carousel</a></li>
											<li><a href="index_19.html">Mailchimp Newsletter</a></li>
											<li><a href="index_18.html">Fixed Caption</a></li>
										</ul></li>
									<li><a href="index_12.html">Layer slider</a></li>
									<li><a href="index_2.html">With Only tours</a></li>
									<li><a href="index_3.html">Single image</a></li>
									<li><a href="index_4.html">Header video</a></li>
									<li><a href="index_7.html">With search panel</a></li>
									<li><a href="index_13.html">With tabs</a></li>
									<li><a href="index_5.html">With map</a></li>
									<li><a href="index_6.html">With search bar</a></li>
									<li><a href="index_8.html">Search bar + Video</a></li>
									<li><a href="index_9.html">With Text Rotator</a></li>
									<li><a href="index_10.html">With Cookie Bar (EU law)</a></li>
									<li><a href="index_11.html">Popup Advertising</a></li>
								</ul></li>
							<li class="submenu"><a href="javascript:void(0);"
								class="show-submenu">Tours <i class="icon-down-open-mini"></i></a>
								<ul>
									<li><a href="all_tours_list.html">All tours list</a></li>
									<li><a href="all_tours_grid.html">All tours grid</a></li>
									<li><a href="all_tours_grid_masonry.html">All tours
											Sort Masonry</a></li>
									<li><a href="all_tours_map_listing.html">All tours map
											listing</a></li>
									<li><a href="single_tour.html">Single tour page</a></li>
									<li><a href="single_tour_with_gallery.html">Single
											tour with gallery</a></li>
									<li class="third-level"><a href="javascript:void(0);">Single
											tour fixed sidebar</a>
										<ul>
											<li><a href="single_tour_fixed_sidebar.html">Single
													tour fixed sidebar</a></li>
											<li><a
												href="single_tour_with_gallery_fixed_sidebar.html">Single
													tour 2 Fixed Sidebar</a></li>
											<li><a href="cart_fixed_sidebar.html">Cart Fixed
													Sidebar</a></li>
											<li><a href="payment_fixed_sidebar.html">Payment
													Fixed Sidebar</a></li>
											<li><a href="confirmation_fixed_sidebar.html">Confirmation
													Fixed Sidebar</a></li>
										</ul></li>
									<li><a href="single_tour_working_booking.php">Single
											tour working booking</a></li>
									<li><a href="cart.html">Single tour cart</a></li>
									<li><a href="payment.html">Single tour booking</a></li>
								</ul></li>
							<li class="submenu"><a href="javascript:void(0);"
								class="show-submenu">Hotels <i class="icon-down-open-mini"></i></a>
								<ul>
									<li><a href="all_hotels_list.html">All hotels list</a></li>
									<li><a href="all_hotels_grid.html">All hotels grid</a></li>
									<li><a href="all_hotels_grid_masonry.html">All hotels
											Sort Masonry</a></li>
									<li><a href="all_hotels_map_listing.html">All hotels
											map listing</a></li>
									<li><a href="single_hotel.html">Single hotel page</a></li>
									<li><a href="single_hotel_working_booking.php">Single
											hotel working booking</a></li>
									<li><a href="single_hotel_contact.php">Single hotel
											contact working</a></li>
									<li><a href="cart_hotel.html">Cart hotel</a></li>
									<li><a href="payment_hotel.html">Booking hotel</a></li>
									<li><a href="confirmation_hotel.html">Confirmation
											hotel</a></li>
								</ul></li>
							<li class="submenu"><a href="javascript:void(0);"
								class="show-submenu">Transfers <i
									class="icon-down-open-mini"></i></a>
								<ul>
									<li><a href="all_transfer_list.html">All transfers
											list</a></li>
									<li><a href="all_transfer_grid.html">All transfers
											grid</a></li>
									<li><a href="all_transfer_grid_masonry.html">All
											transfers Sort Masonry</a></li>
									<li><a href="single_transfer.html">Single transfer
											page</a></li>
									<li><a href="cart_transfer.html">Cart transfers</a></li>
									<li><a href="payment_transfer.html">Booking transfers</a>
									</li>
									<li><a href="confirmation_transfer.html">Confirmation
											transfers</a></li>
								</ul></li>
							<li class="submenu"><a href="javascript:void(0);"
								class="show-submenu">Restaurants <i
									class="icon-down-open-mini"></i></a>
								<ul>
									<li><a href="all_restaurants_list.html">All
											restaurants list</a></li>
									<li><a href="all_restaurants_grid.html">All
											restaurants grid</a></li>
									<li><a href="all_restaurants_grid_masonry.html">All
											restaurants Sort Masonry</a></li>
									<li><a href="all_restaurants_map_listing.html">All
											restaurants map listing</a></li>
									<li><a href="single_restaurant.html">Single restaurant
											page</a></li>
									<li><a href="payment_restaurant.html">Booking
											restaurant</a></li>
									<li><a href="confirmation_restaurant.html">Confirmation
											restaurant</a></li>
								</ul></li>
							<li class="megamenu submenu"><a href="javascript:void(0);"
								class="show-submenu-mega">Bonus<i
									class="icon-down-open-mini"></i></a>
								<div class="menu-wrapper">
									<div class="row">
										<div class="col-lg-4">
											<h3>Header styles</h3>
											<ul>
												<li><a href="index.html">Default transparent</a></li>
												<li><a href="header_2.html">Plain color</a></li>
												<li><a href="header_3.html">Plain color on scroll</a></li>
												<li><a href="header_4.html">With socials on top</a></li>
												<li><a href="header_5.html">With language selection</a>
												</li>
												<li><a href="header_6.html">With lang and
														conversion</a></li>
												<li><a href="header_7.html">With full horizontal
														menu</a></li>
											</ul>
										</div>
										<div class="col-lg-4">
											<h3>Footer styles</h3>
											<ul>
												<li><a href="index.html">Footer default</a></li>
												<li><a href="footer_2.html">Footer style 2</a></li>
												<li><a href="footer_3.html">Footer style 3</a></li>
												<li><a href="footer_4.html">Footer style 4</a></li>
												<li><a href="footer_6.html">Footer style 6</a></li>
												<li><a href="footer_7.html">Footer style 7</a></li>
											</ul>
										</div>
										<div class="col-lg-4">
											<h3>Shop section</h3>
											<ul>
												<li><a href="shop.html">Shop</a></li>
												<li><a href="shop-single.html">Shop single</a></li>
												<li><a href="shopping-cart.html">Shop cart</a></li>
												<li><a href="checkout.html">Shop Checkout</a></li>
											</ul>
										</div>
									</div>
									<!-- End row -->
								</div> <!-- End menu-wrapper --></li>
							<li class="megamenu submenu"><a href="javascript:void(0);"
								class="show-submenu-mega">Pages<i
									class="icon-down-open-mini"></i></a>
								<div class="menu-wrapper">
									<div class="row">
										<div class="col-lg-4">
											<h3>Pages</h3>
											<ul>
												<li><a href="about.html">About us</a></li>
												<li><a href="general_page.html">General page</a></li>
												<li><a href="tourist_guide.html">Tourist guide</a></li>
												<li><a href="wishlist.html">Wishlist page</a></li>
												<li><a href="faq.html">Faq</a></li>
												<li><a href="faq_2.html">Faq smooth scroll</a></li>
												<li><a href="pricing_tables.html">Pricing tables</a></li>
												<li><a href="gallery_3_columns.html">Gallery 3
														columns</a></li>
												<li><a href="gallery_4_columns.html">Gallery 4
														columns</a></li>
												<li><a href="grid_gallery_1.html">Grid gallery</a></li>
												<li><a href="grid_gallery_2.html">Grid gallery with
														filters</a></li>
											</ul>
										</div>
										<div class="col-lg-4">
											<h3>Pages</h3>
											<ul>
												<li><a href="contact_us_1.html">Contact us 1</a></li>
												<li><a href="contact_us_2.html">Contact us 2</a></li>
												<li><a href="blog_right_sidebar.html">Blog</a></li>
												<li><a href="blog.html">Blog left sidebar</a></li>
												<li><a href="login.html">Login</a></li>
												<li><a href="register.html">Register</a></li>
												<li><a href="invoice.html" target="_blank">Invoice</a>
												</li>
												<li><a href="404.html">404 Error page</a></li>
												<li><a href="site_launch/index.html">Site launch /
														Coming soon</a></li>
												<li><a href="timeline.html">Tour timeline</a></li>
												<li><a href="page_with_map.html"><i
														class="icon-map"></i> Full screen map</a></li>
											</ul>
										</div>
										<div class="col-lg-4">
											<h3>Elements</h3>
											<ul>
												<li><a href="footer_2.html"><i class="icon-columns"></i>
														Footer with working newsletter</a></li>
												<li><a href="icon_pack_1.html"><i
														class="icon-inbox-alt"></i> Icon pack 1 (1900)</a></li>
												<li><a href="icon_pack_2.html"><i
														class="icon-inbox-alt"></i> Icon pack 2 (100)</a></li>
												<li><a href="icon_pack_3.html"><i
														class="icon-inbox-alt"></i> Icon pack 3 (30)</a></li>
												<li><a href="icon_pack_4.html"><i
														class="icon-inbox-alt"></i> Icon pack 4 (200)</a></li>
												<li><a href="icon_pack_5.html"><i
														class="icon-inbox-alt"></i> Icon pack 5 (360)</a></li>
												<li><a href="shortcodes.html"><i class="icon-tools"></i>
														Shortcodes</a></li>
												<li><a href="newsletter_template/newsletter.html"
													target="blank"><i class="icon-mail"></i> Responsive
														email template</a></li>
												<li><a href="admin.html"><i class="icon-cog-1"></i>
														Admin area</a></li>
											</ul>
										</div>
									</div>
									<!-- End row -->
								</div> <!-- End menu-wrapper --></li>
						</ul>
					</div>
					<!-- End main-menu -->
					<ul id="top_tools">
						<li><a href="javascript:void(0);"
							class="search-overlay-menu-btn"><i class="icon_search"></i></a></li>
						<li>
							<div class="dropdown dropdown-cart">
								<a href="#" data-bs-hover="dropdown" class="cart_bt"><i
									class="icon_bag_alt"></i><strong>3</strong></a>
								<ul class="dropdown-menu" id="cart_items">
									<li>
										<div class="image">
											<img src="img/thumb_cart_1.jpg" alt="image" />
										</div> <strong><a href="#">Louvre museum</a>1x $36.00 </strong> <a
										href="#" class="action"><i class="icon-trash"></i></a>
									</li>
									<li>
										<div class="image">
											<img src="img/thumb_cart_2.jpg" alt="image" />
										</div> <strong><a href="#">Versailles tour</a>2x $36.00 </strong> <a
										href="#" class="action"><i class="icon-trash"></i></a>
									</li>
									<li>
										<div class="image">
											<img src="img/thumb_cart_3.jpg" alt="image" />
										</div> <strong><a href="#">Versailles tour</a>1x $36.00 </strong> <a
										href="#" class="action"><i class="icon-trash"></i></a>
									</li>
									<li>
										<div>
											Total: <span>$120.00</span>
										</div> <a href="cart.html" class="button_drop">Go to cart</a> <a
										href="payment.html" class="button_drop outline">Check out</a>
									</li>
								</ul>
							</div> <!-- End dropdown-cart-->
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- container -->
	</header>
	<!-- End Header -->

	<section class="parallax-window" data-parallax="scroll"
		data-image-src="img/group1_img/富士山.jpg" data-natural-width="1400"
		data-natural-height="470">
		<div class="parallax-content-1 opacity-mask"
			data-opacity-mask="rgba(0, 0, 0, 0.4)">
			<div class="animated fadeInDown">
				<h1>歡迎來到會員中心！</h1>

				<p>Cursus neque cursus curae ante scelerisque vehicula.</p>
			</div>
		</div>
	</section>
	<!-- End section -->

	<main>
		<div id="position">
			<div class="container">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Category</a></li>
					<li>Page active</li>
				</ul>
			</div>
		</div>
		<!-- End Position -->

		<div class="margin_60 container">
			<div id="tabs" class="tabs">
				<nav>
					<ul>
						<li><a href="#section-1" class="icon-ticket-2"><span>&nbsp;訂單／票匣</span></a>
						</li>
						<li><a href="#section-2" class="icon-wishlist"><span>收藏</span></a>
						</li>
						<li><a href="#section-3" class="icon-settings"><span>通知／公告</span></a>
						</li>
						<li><a href="#section-4" class="icon-profile"><span>基本資料</span></a>
						</li>
						<li><a href="#" id="logout" class="icon-logout"
							data-ignore="true"><span>登出</span></a></li>
					</ul>
				</nav>
				<!-- 頁籤主體 -->
				<div class="content">
					<!-- 訂單／票匣 -->
					<section id="section-1">
						<nav id="tablist_order" class="col-12">
							<button class="tab_order tab1">全部</button>
							<button class="tab_order tab2">付款中</button>
							<button class="tab_order tab3"
								style="background-color: #CE0000; color: white">付款失敗</button>
							<button class="tab_order tab4">付款逾時</button>
							<button class="tab_order tab5">已付款</button>
							<button class="tab_order tab6">已退款</button>
						</nav>

					</section>

					<!-- 收藏 -->
					<section id="section-2"
						th:attr="data-toggle-url=@{/api/favorite/toggle}">
						<!-- 展覽(方) 展示6個 -->
						<div class="row">

							<th:block th:each="favVO : ${favList}">
								<div class="col-lg-4 col-md-6">
									<div class="hotel_container">
										<div class="img_container">
											<a th:href="@{/front-end/exhibitions.html}"> <img
												th:src="@{/front-end/img/0_exhibition/ChatGPT_exhibition_6.png}"
												width="800" height="533" class="img-fluid" alt="Image" />
												<div class="short_info hotel"></div>
											</a>
										</div>
										<div class="hotel_title">
											<h3 th:text="${favVO.exhibition.exhibitionName}"></h3>
											<div class="rating">
												<i class="icon-star voted"></i> <i class="icon-star voted"></i>
												<i class="icon-star voted"></i> <i class="icon-star voted"></i>
												<i class="icon-star-empty"></i>
											</div>
											<div>
												<!-- 個人功能測試階段, 會員ID暫預設為1 -->
												<button type="button"
													style="border: none; background: transparent; padding: 0;"
													class="wishlist_close_admin btn_fav" th:data-mem-id="1"
													th:data-exh-id="${favVO.exhibitionId}">-</button>
											</div>
										</div>
									</div>
								</div>
							</th:block>

						</div>
					</section>

					<!-- 通知/公告 -->
					<section id="section-3">
						<div class="row">
							<!-- 左側 -->
							<aside class="col-lg-3">
								<div class="box_style_cat">
									<ul id="cat_nav">
										<li><a href="#" class="active"
											data-target="#order-notifications"> <i
												class="icon_set_1_icon-95"></i>訂單通知 <span id="badge-order"
												class="notif-badge d-none">0</span>
										</a></li>
										<li><a href="#" data-target="#favorite-notifications">
												<i class="icon_set_1_icon-95"></i>收藏展覽通知 <span
												id="badge-fav" class="notif-badge d-none">0</span>
										</a></li>
										<li><a href="#" data-target="#platform-notifications">
												<i class="icon_set_1_icon-95"></i>平台公告 <span
												id="badge-platform" class="notif-badge d-none">0</span>
										</a></li>
									</ul>
								</div>
							</aside>

							<!-- 右側內容 -->
							<div class="col-lg" id="faq">
								<!-- 工具列（標題+全部已讀） -->
								<div
									class="d-flex justify-content-between align-items-center mb-3">
									<h3 class="nomargin_top mb-0" id="notifTitle">訂單通知</h3>
									<button id="markAllRead"
										class="btn btn-sm btn-outline-secondary">全部標示為已讀</button>
								</div>

								<!-- 面板1：訂單通知（預設顯示） 展示4個 -->
								<div id="order-notifications" class="notification-section">
									<!-- 1 -->
									<div class="card mb-3 shadow-sm border-0 notification-unread">
										<div class="card-body border-0">
											<h5 class="card-title mb-1 fw-bold">退票申請通知</h5>
											<p class="card-text mb-2 text-muted" style="font-size: 16px">
												您的訂單「2」的退票申請已收到，退款將於 7–14 個工作天內完成，敬請耐心等候。</p>
										</div>
									</div>

									<!-- 2 -->
									<div class="card mb-3 shadow-sm border-0 notification-unread">
										<div class="card-body border-0">
											<h5 class="card-title mb-1 fw-bold">退票申請通知</h5>
											<p class="card-text mb-2 text-muted" style="font-size: 16px">
												您的訂單「2」的退票申請已收到，退款將於 7–14 個工作天內完成，敬請耐心等候。</p>
										</div>
									</div>

									<!-- 3 -->
									<div class="card mb-3 shadow-sm border-0 notification-read">
										<div class="card-body border-0">
											<h5 class="card-title mb-1 fw-bold">訂單成立通知</h5>
											<p class="card-text mb-2 text-muted" style="font-size: 16px">
												您的訂單「1」已成立，電子票券已存入票夾，請隨時查看使用資訊！</p>
										</div>
									</div>

									<!-- 4 -->
									<div class="card mb-3 shadow-sm border-0 notification-read">
										<div class="card-body border-0">
											<h5 class="card-title mb-1 fw-bold">退票申請通知</h5>
											<p class="card-text mb-2 text-muted" style="font-size: 16px">
												您的訂單「2」的退票申請已收到，退款將於 7–14 個工作天內完成，敬請耐心等候。</p>
										</div>
									</div>
								</div>

								<!-- 面板2：收藏展覽通知（預設隱藏）展示3個 -->
								<div id="favorite-notifications"
									class="notification-section d-none">
									<!-- 1 -->
									<div class="card mb-3 shadow-sm border-0 notification-unread">
										<div class="card-body border-0">
											<h5 class="card-title mb-1 fw-bold">收藏展覽開賣通知</h5>
											<p class="card-text mb-2 text-muted" style="font-size: 16px">
												你收藏的「感官解放：藝術的另一種語言」已開放購票，數量有限請盡速選購。</p>
										</div>
									</div>

									<!-- 2 -->
									<div class="card mb-3 shadow-sm border-0 notification-read">
										<div class="card-body border-0">
											<h5 class="card-title mb-1 fw-bold">收藏展覽有新檔期</h5>
											<p class="card-text mb-2 text-muted" style="font-size: 16px">
												「當代光影展」新增 10/01–10/15 檔期，歡迎查看詳情。</p>
										</div>
									</div>

									<!-- 3 -->
									<div class="card mb-3 shadow-sm border-0 notification-read">
										<div class="card-body border-0">
											<h5 class="card-title mb-1 fw-bold">收藏展覽有新檔期</h5>
											<p class="card-text mb-2 text-muted" style="font-size: 16px">
												「當代光影展」新增 10/01–10/15 檔期，歡迎查看詳情。</p>
										</div>
									</div>
								</div>

								<!-- 面板3：平台公告（預設隱藏） -->
								<div id="platform-notifications"
									class="notification-section d-none">
									<!-- 1 -->
									<div class="card mb-3 shadow-sm border-0 notification-unread">
										<div class="card-body border-0">
											<h5 class="card-title mb-1 fw-bold">系統維護公告</h5>
											<p class="card-text mb-2 text-muted" style="font-size: 16px">
												本週日 02:00–04:00 進行例行維護，期間暫停購票與退票服務，造成不便敬請見諒。</p>
										</div>
									</div>
									<!-- 2 -->
									<div class="card mb-3 shadow-sm border-0 notification-read">
										<div class="card-body border-0">
											<h5 class="card-title mb-1 fw-bold">隱私權政策更新</h5>
											<p class="card-text mb-2 text-muted" style="font-size: 16px">
												我們已更新個資告知事項與第三方服務說明，請參閱最新條款。</p>
										</div>
									</div>
								</div>
							</div>
							<!-- /#faq -->
						</div>
					</section>

					<!-- 基本資料 -->
					<section id="section-4">
						<div class="row">
							<div class="col-md-9">
								<!-- 姓名 暱稱 email 性別 手機號碼 收件地址 生日 會員帳號綁定 密碼修改 取得驗證 -->
								<h4>個人資料</h4>
								<br />

								<ul id="profile_summary">
									<li>信箱 <span id="saved_email">info@clara.com</span>
									</li>
									<li>密碼 <span id="saved_password">(隱藏)</span>
									</li>
									<li>姓名 <span id="saved_name">Tomson</span></li>
									<li>平台暱稱 <span id="saved_nickname">Tomson127</span></li>
									<li>性別 <span id="saved_gender">男</span></li>
									<li>手機號碼 <span id="saved_phone_number">0926427329</span>
									</li>
									<li>生日 <span id="saved_birth_date">2022/02/22</span></li>
									<li>地址 <span id="saved_address">臺北市中山區南京東路三段219號5樓(緯育TibaMe台北職訓中心)</span>
									</li>

									<h4 id="related_account">已綁定帳號</h4>
									<br />

									<li class="third_party">Facebook <span id="saved_facebook"><i
											class="icon-check"></i></span>
									</li>
									<li class="third_party">Google <span id="saved_google"><i
											class="icon-check"></i></span>
									</li>
									<li class="third_party">Github <span id="saved_facebook"><i
											class="icon-check-empty"></i></span>
									</li>
								</ul>
							</div>
							<div class="col-md-3" id="img_block">
								<p>
									<img src="img/tourist_guide_pic.jpg" alt="Image"
										class="img-fluid styled profile_pic" id="user_img" />
								</p>
								<button type="submit" class="btn_1 gray" id="js-upload-submit">
									更換照片</button>
								<div class="form-group">
									<input type="file" name="files[]" id="js-upload-files" />
								</div>
							</div>
						</div>
						<!-- End row -->

						<br />
						<div class="divider"></div>
						<br />

						<!-- End row -->

						<div class="row">
							<div class="col-md-12">
								<h4>更新資料</h4>
								<small>註：僅列出部分可更新之項目</small> <br /> <br /> <br />
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>信箱</label>
									<div class="btn_change_div">
										<button id="change_mail">變更信箱</button>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>密碼</label>
									<div class="btn_change_div">
										<button id="change_password">變更密碼</button>
									</div>
								</div>
							</div>
						</div>
						<!-- End row -->

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>姓名</label> <input class="form-control" name="full_name"
										id="full_name" type="text" value="陳珮瑋" />
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>平台暱稱</label> <input class="form-control" name="nickname"
										id="nickname" type="text" value="Tomcat11" />
								</div>
							</div>
						</div>
						<!-- End row -->

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>性別</label>
									<div id="gender_div">
										<select name="gender" id="gender">
											<option value="">--請選擇--</option>
											<option value="male">男性</option>
											<option value="female">女性</option>
											<option value="others">其他</option>
											<option value="prefer_not_to_say">暫不透露</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>手機號碼</label> <input class="form-control"
										name="phone_number" id="phone_number" type="text"
										value="0926427329" />
								</div>
							</div>
						</div>
						<!-- End row -->

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>生日<small>&nbsp;(YYYY/MM/DD)</small></label> <input
										class="form-control" name="birth_date" id="birth_date"
										type="date" value="2000-07-22" />
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>地址</label> <input class="form-control" name="address"
										id="address" type="text"
										value="臺北市中山區南京東路三段219號5樓(緯育TibaMe台北職訓中心)
                      " />
								</div>
							</div>

							<div id="btn_block">
								<button type="submit" class="btn_1 btn_updateinfo" id="btn_save">
									儲存變更</button>
								<button type="submit" class="btn_1 btn_updateinfo"
									id="btn_recover">清空</button>
							</div>
						</div>
						<!-- End row -->

						<!-- End Hidden on mobiles -->
					</section>

					<!-- 只是為了CBPFTabs 不要報錯用 -->
					<!-- <section id="section-5"></section> -->
				</div>
				<!-- End content -->
			</div>
			<!-- End tabs -->
		</div>
		<!-- end container -->
	</main>
	<!-- End main -->

	<footer class="revealed">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h3>Need help?</h3>
					<a href="tel://004542344599" id="phone">+45 423 445 99</a> <a
						href="mailto:help@citytours.com" id="email_footer">help@citytours.com</a>
				</div>
				<div class="col-md-3">
					<h3>About</h3>
					<ul>
						<li><a href="#">About us</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Login</a></li>
						<li><a href="#">Register</a></li>
						<li><a href="#">Terms and condition</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<h3>Discover</h3>
					<ul>
						<li><a href="#">Community blog</a></li>
						<li><a href="#">Tour guide</a></li>
						<li><a href="#">Wishlist</a></li>
						<li><a href="#">Gallery</a></li>
					</ul>
				</div>
				<div class="col-md-2">
					<h3>Settings</h3>
					<div class="styled-select">
						<select name="lang" id="lang">
							<option value="English" selected>English</option>
							<option value="French">French</option>
							<option value="Spanish">Spanish</option>
							<option value="Russian">Russian</option>
						</select>
					</div>
					<div class="styled-select">
						<select name="currency" id="currency">
							<option value="USD" selected>USD</option>
							<option value="EUR">EUR</option>
							<option value="GBP">GBP</option>
							<option value="RUB">RUB</option>
						</select>
					</div>
				</div>
			</div>
			<!-- End row -->
			<div class="row">
				<div class="col-md-12">
					<div id="social_footer">
						<ul>
							<li><a href="#0"><i class="bi bi-instagram"></i></a></li>
							<li><a href="#0"><i class="bi bi-whatsapp"></i></a></li>
							<li><a href="#0"><i class="bi bi-facebook"></i></a></li>
							<li><a href="#0"><i class="bi bi-twitter-x"></i></a></li>
							<li><a href="#0"><i class="bi bi-youtube"></i></a></li>
						</ul>
						<p>© Citytours 2024</p>
					</div>
				</div>
			</div>
			<!-- End row -->
		</div>
		<!-- End container -->
	</footer>
	<!-- End footer -->

	<div id="toTop"></div>
	<!-- Back to top button -->

	<!-- Search Menu -->
	<div class="search-overlay-menu">
		<span class="search-overlay-close"><i
			class="icon_set_1_icon-77"></i></span>
		<form role="search" id="searchform" method="get">
			<input value="" name="q" type="text" placeholder="Search..." />
			<button type="submit">
				<i class="icon_set_1_icon-78"></i>
			</button>
		</form>
	</div>
	<!-- End Search Menu -->

	<!-- QR code modal -->
	<div id="qrcode_modal" class="modal modal-static modal-dialog"
		role="dialog" aria-modal="true" aria-labelledby="modalTitle">
		<div class="modal-content" id="modal-content">
			<div>
				<button class="close-modal-btn" aria-label="關閉QR碼視窗">
					&times;</button>
			</div>
		</div>
	</div>

	<!-- Sign In Popup -->
	<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
		<div class="small-dialog-header">
			<h3>Sign In</h3>
		</div>
		<form>
			<div class="sign-in-wrapper">
				<a href="#0" class="social_bt facebook">Login with Facebook</a> <a
					href="#0" class="social_bt google">Login with Google</a>
				<div class="divider">
					<span>Or</span>
				</div>
				<div class="form-group">
					<label>Email</label> <input type="email" class="form-control"
						name="email" id="email" /> <i class="icon_mail_alt"></i>
				</div>
				<div class="form-group">
					<label>Password</label> <input type="password" class="form-control"
						name="password" id="password" value="" /> <i
						class="icon_lock_alt"></i>
				</div>
				<div class="clearfix add_bottom_15">
					<div class="checkboxes float-start">
						<label class="container_check">Remember me <input
							type="checkbox" /> <span class="checkmark"></span>
						</label>
					</div>
					<div class="float-end">
						<a id="forgot" href="javascript:void(0);">Forgot Password?</a>
					</div>
				</div>
				<div class="text-center">
					<input type="submit" value="Log In" class="btn_login" />
				</div>
				<div class="text-center">
					Don’t have an account? <a href="javascript:void(0);">Sign up</a>
				</div>
				<div id="forgot_pw">
					<div class="form-group">
						<label>Please confirm login email below</label> <input
							type="email" class="form-control" name="email_forgot"
							id="email_forgot" /> <i class="icon_mail_alt"></i>
					</div>
					<p>You will receive an email containing a link allowing you to
						reset your password to a new preferred one.</p>
					<div class="text-center">
						<input type="submit" value="Reset Password" class="btn_1" />
					</div>
				</div>
			</div>
		</form>
		<!--form -->
	</div>
	<!-- /Sign In Popup -->


	<!-- Common scripts -->
	<script src="js/jquery-3.7.1.min.js"></script>
	<script src="js/common_scripts_min.js"></script>
	<script src="js/functions.js"></script>

	<!-- Specific scripts -->
	<script src="js/tabs.js"></script>
	<script>
		new CBPFWTabs(document.getElementById("tabs"));
	</script>

	<!-- for QRcode -->
	<script src="js/qrcanvas.js"></script>
	<script src="js/g1_10_custom_common_csrf.js"></script>
	<script src="js/g1_10_custom_common.js"></script>
	<script src="js/g1_10_custom_member_center.js"></script>
	<script src="js/g1_6_favorite_announcement.js"></script>
	<script src="js/g1_6_favorite_admin.js"></script>
	<script src="js/g1_6_search_history.js"></script>
	<!-- 存搜尋紀錄用 -->
	<script src="js/g1_6_search_modal.js"></script>
	<!-- 導頁至搜尋結果頁用 -->
</body>
</html>
