<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Eventra</title>

<!-- Favicons-->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" type="image/x-icon"
	href="img/apple-touch-icon-57x57-precomposed.png" />
<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72"
	href="img/apple-touch-icon-72x72-precomposed.png" />
<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
	href="img/apple-touch-icon-114x114-precomposed.png" />
<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
	href="img/apple-touch-icon-144x144-precomposed.png" />

<!-- GOOGLE WEB FONT -->
<link
	href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Montserrat:wght@300;400;500;600;700&display=swap"
	rel="stylesheet" />

<!-- COMMON CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<link href="css/vendors.css" rel="stylesheet" />

<!-- CUSTOM CSS -->
<link href="css/g1_6_custom.css" rel="stylesheet" />
<link href="css/g1_10_custom.css" rel="stylesheet" />
<link href="css/g1_10_custom_common.css" rel="stylesheet" />
<link href="css/g1_10_custom_login.css" rel="stylesheet" />
<link href="css/g1_6_custom_exhibitor_register.css" rel="stylesheet" />
</head>

<body class="exhibitor-register">
	<div id="preloader">
		<div class="sk-spinner sk-spinner-wave">
			<div class="sk-rect1"></div>
			<div class="sk-rect2"></div>
			<div class="sk-rect3"></div>
			<div class="sk-rect4"></div>
			<div class="sk-rect5"></div>
		</div>
	</div>

	<div class="layer"></div>

	<!-- Header -->
	<header>
		<!-- 從js/g1_10_custom_common.js 帶入 -->
	</header>
	<!-- End Header -->

	<main>
		<section id="hero" class="login exhibitor-register">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-4 col-lg-5 col-md-6 col-sm-8">
						<div id="login">
							<div class="text-center">
								<img src="img/logo_sticky.png" alt="Image" width="160"
									height="34" />
							</div>
							<hr />

							<form th:action="@{/front-end/exhibitor_register}"
								th:object="${form}" method="post">

								<div class="divider">
									<span>註冊資訊</span>
								</div>

								<!-- 統一編號 -->
								<div class="form-group">
									<label>統一編號（登入帳號）<font color="red">*</font></label> <input
										type="text" class="form-control"
										th:field="*{businessIdNumber}" placeholder="請輸入 8 碼統一編號" />
									<div th:if="${#fields.hasErrors('businessIdNumber')}"
										th:errors="*{businessIdNumber}" class="text-danger"></div>
								</div>

								<!-- 密碼 -->
								<div class="form-group">
									<label>輸入密碼<font color="red">*</font></label> <input
										type="password" class="form-control"
										th:field="*{password}" placeholder="請輸入密碼" />
									<div th:if="${#fields.hasErrors('password')}"
										th:errors="*{password}" class="text-danger"></div>
								</div>

								<!-- 確認密碼 -->
								<div class="form-group">
									<label>再次輸入密碼<font color="red">*</font></label> <input
										type="password" class="form-control"
										th:field="*{confirmPassword}" placeholder="請再次輸入密碼" />
									<div th:if="${#fields.hasErrors('confirmPassword')}"
										th:errors="*{confirmPassword}" class="text-danger"></div>
								</div>

								<div class="divider">
									<span>基本資訊</span>
								</div>

								<!-- 公司名稱 -->
								<div class="form-group">
									<label>公司名稱<font color="red">*</font></label> <input
										type="text" class="form-control" th:field="*{companyName}"
										maxlength="255" />
									<div th:if="${#fields.hasErrors('companyName')}"
										th:errors="*{companyName}" class="text-danger"></div>
								</div>

								<!-- 公司地址 -->
								<div class="form-group">
									<label>公司地址<font color="red">*</font></label> <input
										type="text" class="form-control" th:field="*{companyAddress}"
										maxlength="255" />
									<div th:if="${#fields.hasErrors('companyAddress')}"
										th:errors="*{companyAddress}" class="text-danger"></div>
								</div>

								<!-- 聯絡電話 -->
								<div class="form-group">
									<label>聯絡電話<font color="red">*</font></label> <input
										type="text" class="form-control" th:field="*{contactPhone}"
										maxlength="50" />
									<div th:if="${#fields.hasErrors('contactPhone')}"
										th:errors="*{contactPhone}" class="text-danger"></div>
								</div>

								<!-- 聯絡信箱 -->
								<div class="form-group">
									<label>聯絡信箱<font color="red">*</font></label> <input
										type="text" class="form-control" th:field="*{email}" />
									<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
										class="text-danger"></div>
								</div>

								<div class="divider">
									<span>帳戶資訊</span>
								</div>

								<!-- 銀行代碼 -->
								<div class="form-group">
									<label>銀行代碼<font color="red">*</font></label> <input
										type="text" class="form-control" th:field="*{bankCode}" />
									<div th:if="${#fields.hasErrors('bankCode')}"
										th:errors="*{bankCode}" class="text-danger"></div>
								</div>

								<!-- 銀行戶名 -->
								<div class="form-group">
									<label>銀行戶名<font color="red">*</font></label> <input
										type="text" class="form-control" th:field="*{bankAccountName}" />
									<div th:if="${#fields.hasErrors('bankAccountName')}"
										th:errors="*{bankAccountName}" class="text-danger"></div>
								</div>

								<!-- 銀行帳號 -->
								<div class="form-group">
									<label>銀行帳號<font color="red">*</font></label> <input
										type="text" class="form-control"
										th:field="*{bankAccountNumber}" />
									<div th:if="${#fields.hasErrors('bankAccountNumber')}"
										th:errors="*{bankAccountNumber}" class="text-danger"></div>
								</div>

								<button type="submit" class="btn_full">審核註冊</button>
							</form>


						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<!-- End main -->

	<div id="toTop"></div>

	<!-- Search Menu -->
	<div class="search-overlay-menu">
		<!-- 從js/g1_10_custom_common.js 帶入 -->
	</div>

	<!-- Sign In Popup -->
	<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
		<div class="small-dialog-header">
			<h3>Sign In</h3>
		</div>
		<form>
			<div class="sign-in-wrapper">
				<a href="#0" class="social_bt facebook">Login with Facebook</a> <a
					href="#0" class="social_bt google">Login with Google</a>
				<div class="divider">
					<span>Or</span>
				</div>
				<div class="form-group">
					<label>Email</label> <input type="email" class="form-control"
						name="email" id="email" /> <i class="icon_mail_alt"></i>
				</div>
				<div class="form-group">
					<label>Password</label> <input type="password" class="form-control"
						name="password" id="password" value="" /> <i
						class="icon_lock_alt"></i>
				</div>
				<div class="clearfix add_bottom_15">
					<div class="checkboxes float-start">
						<label class="container_check">Remember me <input
							type="checkbox" /> <span class="checkmark"></span>
						</label>
					</div>
					<div class="float-end">
						<a id="forgot" href="javascript:void(0);">Forgot Password?</a>
					</div>
				</div>
				<div class="text-center">
					<input type="submit" value="Log In" class="btn_login" />
				</div>
				<div class="text-center">
					Don’t have an account? <a href="javascript:void(0);">Sign up</a>
				</div>
				<div id="forgot_pw">
					<div class="form-group">
						<label>Please confirm login email below</label> <input
							type="email" class="form-control" name="email_forgot"
							id="email_forgot" /> <i class="icon_mail_alt"></i>
					</div>
					<p>You will receive an email containing a link allowing you to
						reset your password to a new preferred one.</p>
					<div class="text-center">
						<input type="submit" value="Reset Password" class="btn_1" />
					</div>
				</div>
			</div>
		</form>
		<!--form -->
	</div>
	<!-- /Sign In Popup -->

	<!-- Common scripts -->
	<script src="js/jquery-3.7.1.min.js"></script>
	<script src="js/common_scripts_min.js"></script>
	<script src="js/functions.js"></script>

	<!-- Specific scripts -->
	<script src="js/pw_strenght.js"></script>

	<script src="js/g1_10_custom_common_csrf.js"></script>
	<script src="js/g1_10_custom_common.js"></script>
	<script src="js/g1_6_search_history.js"></script>
	<!-- 存搜尋紀錄用 -->
	<script src="js/g1_6_search_modal.js"></script>
	<!-- 導頁至搜尋結果頁用 -->
</body>

</html>