<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Eventra</title>

<!-- Favicons-->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" type="image/x-icon"
	href="img/apple-touch-icon-57x57-precomposed.png" />
<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72"
	href="img/apple-touch-icon-72x72-precomposed.png" />
<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
	href="img/apple-touch-icon-114x114-precomposed.png" />
<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
	href="img/apple-touch-icon-144x144-precomposed.png" />

<!-- GOOGLE WEB FONT -->
<link
	href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Montserrat:wght@300;400;500;600;700&display=swap"
	rel="stylesheet" />

<!-- COMMON CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<link href="css/vendors.css" rel="stylesheet" />

<!-- CUSTOM CSS -->
<link href="css/g1_6_custom.css" rel="stylesheet" />
<style>
	a.cart_bt strong {
 	 display: none;
	}
</style>
</head>

<body>
	<div id="preloader">
		<div class="sk-spinner sk-spinner-wave">
			<div class="sk-rect1"></div>
			<div class="sk-rect2"></div>
			<div class="sk-rect3"></div>
			<div class="sk-rect4"></div>
			<div class="sk-rect5"></div>
		</div>
	</div>

	<div class="layer"></div>

	<!-- 這裡會跟其他Header不一樣 直接是白的 -->
	<!-- Header Plain:  add the id plain to header and change logo.png to logo_sticky.png ======================= -->
	<header id="plain">
		<div class="container">
			<div class="row" id="header-row">
				<div class="col-md-2">
					<div id="logo">
						<a href="/front-end/index"><img
							src="img/logo_sticky.png" width="160" height="34"
							alt="City tours" class="logo_normal" /></a> <a
							href="/front-end/index"><img
							src="img/logo_sticky.png" width="160" height="34"
							alt="City tours" class="logo_sticky" /></a>
					</div>
				</div>
				<nav class="col-md-9">
					<a class="cmn-toggle-switch cmn-toggle-switch__htx open_close"
						href="javascript:void(0);"><span>Menu
							mobile</span></a>
					<div class="main-menu">
						<div id="header_menu">
							<img src="img/logo_sticky.png" width="160" height="34"
								alt="City tours" />
						</div>
						<a href="#" class="open_close" id="close_in"><i
							class="icon_set_1_icon-77"></i></a>
						<ul>
							<li class="submenu"><a href="/front-end/index"
								class="show-submenu">首頁</a></li>
							<li class="submenu"><a href="/front-end/map_explore"
								class="show-submenu">地圖探索</a></li>
							<li class="submenu"><a href="/front-end/exhibitions_popular"
								class="show-submenu">推薦展覽</a></li>
						</ul>
					</div>
					<!-- End main-menu -->
					<!-- 搜尋專用 -->
					<div id="nav_icon_1">
						<a href="search_results.html" class="search-overlay-menu-btn"><i
							class="icon_search active"></i></a> <input class="searchbar"
							type="text" id="nav_search" placeholder=" 搜尋展覽或主辦名稱" />
					</div>
					<!-- 搜尋專用 end -->
					<ul id="top_tools">
						<li id="nav_icon_2"><a href="/front-end/cart" class="cart_bt"><i
								class="icon-cart"></i><strong id="cart_timer"></strong></a></li>
						<li id="nav_icon_3"><a href="/front-end/admin?go=ticket"><i
								class="icon-ticket-2"></i></a></li>
						<li id="nav_icon_4">
							<!-- 不知怎麼引入那個登入彈窗 --> <a href="/front-end/admin"><i
								class="icon-user"></i></a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- container -->
	</header>
	<!-- End Header -->

	<!-- 主畫面 -->
	<div id="map" class="map" style="border-bottom: none; height: 100%; width: 100%; position: absolute; top: 0; left: 0;">
		<!-- 從js/map_full_page.js 帶入 -->
	</div>

	<!-- Search Menu -->
	<div class="search-overlay-menu">
		<!-- 從js/g1_10_custom_common.js 帶入 -->
	</div>

	<!-- Sign In Popup -->
	<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
		<div class="small-dialog-header">
			<h3>Sign In</h3>
		</div>
		<form>
			<div class="sign-in-wrapper">
				<a href="#0" class="social_bt facebook">Login with Facebook</a> <a
					href="#0" class="social_bt google">Login with Google</a>
				<div class="divider">
					<span>Or</span>
				</div>
				<div class="form-group">
					<label>Email</label> <input type="email" class="form-control"
						name="email" id="email" /> <i class="icon_mail_alt"></i>
				</div>
				<div class="form-group">
					<label>Password</label> <input type="password" class="form-control"
						name="password" id="password" value="" /> <i
						class="icon_lock_alt"></i>
				</div>
				<div class="clearfix add_bottom_15">
					<div class="checkboxes float-start">
						<label class="container_check">Remember
							me <input type="checkbox" /> <span class="checkmark"></span>
						</label>
					</div>
					<div class="float-end">
						<a id="forgot" href="javascript:void(0);">Forgot Password?</a>
					</div>
				</div>
				<div class="text-center">
					<input type="submit" value="Log In" class="btn_login" />
				</div>
				<div class="text-center">
					Don’t have an account? <a href="javascript:void(0);">Sign up</a>
				</div>
				<div id="forgot_pw">
					<div class="form-group">
						<label>Please confirm login email below</label> <input
							type="email" class="form-control" name="email_forgot"
							id="email_forgot" /> <i class="icon_mail_alt"></i>
					</div>
					<p>You will receive an email containing a link allowing you to
						reset your password to a new preferred one.</p>
					<div class="text-center">
						<input type="submit" value="Reset Password" class="btn_1" />
					</div>
				</div>
			</div>
		</form>
		<!--form -->
	</div>
	<!-- /Sign In Popup -->
    <!-- websocket 聊天室使用（內含多份檔案） -->
	<div th:replace="fragments/chat-widget :: chat-widget"></div>
	
	<footer class="revealed"></footer>

	<!-- Common scripts -->
	<script src="js/jquery-3.7.1.min.js"></script>
	<script src="js/common_scripts_min.js"></script>
	<script src="js/functions.js"></script>

	<script async src="js/infobox.js"></script>
	<script src="js/map_full_page.js"></script>
	<script src="js/g1_6_map_explore.js"></script>

	<!-- Google Map -->
	<script th:src="@{'https://maps.googleapis.com/maps/api/js?key=' + ${googleApiKey} + '&libraries=places&callback=initMap'}"></script>


<!-- 	<script src="js/g1_10_custom_common.js"></script> -->
	<script src="js/g1_10_custom_common_csrf.js"></script>
	<script src="js/g1_10_map_only_search_enabled.js"></script>
	<script src="js/g1_6_search_history.js"></script> <!-- 存搜尋紀錄用 -->
	<script src="js/g1_6_search_modal.js"></script> <!-- 導頁至搜尋結果頁用 -->
	<script>
	 // MM:SS => seconds
	  function parseTime(str) {
	    const [mm, ss] = str.split(":").map(Number);
	    return mm * 60 + ss;
	  }

	  // seconds 轉回 MM:SS 格式
	  function formatTime(seconds) {
	    if (seconds < 0) seconds = 0;
	    const mm = String(Math.floor(seconds / 60)).padStart(2, "0");
	    const ss = String(seconds % 60).padStart(2, "0");
	    return `${mm}:${ss}`;
	  }
	  // 右上角背景購物車時間
	  csrfFetch("/api/front-end/protected/cartItem/getMyExpiration", {
	    method: "GET",
	  })
	    .then((res) => {
		// if(res.status === "401") throw new Error("getMyExpiration: Authorization failed"); // 不轉導
	      if (!res.ok) throw new Error("getMyExpiration: Not 2XX or 401");
	      return res.json();
	    })
	    .then((result) => {
	      // result.status => success / failed
	      // result.message => 最小背景時間已成功取得 / 最小背景時間取得失敗
	      // result.backgroundExpireTime => MM:SS / undefiend
	      console.log(result);

	      if (result.status === "success") {
	        let remaining = parseTime(result.backgroundExpireTime);
	        const cart_timer_el = document.querySelector("#cart_timer");
	        // 每秒更新
	        const intervalId = setInterval(() => {
	          remaining--;

	          cart_timer_el.innerText = formatTime(remaining);

	          if (remaining <= 0) {
	            clearInterval(intervalId);
	            // 這裡可以觸發 "倒數結束" 的事件，例如 disable 按鈕 / 自動清空
	            alert("您的部分購物車明細已過期！");
	            cart_timer_el.style.display = "none";
	          }
	        }, 1000);
	        cart_timer_el.style.display = "block";
	      }
	    })
	    .catch((error) => {
	      console.log(error);
	    });
	</script>
	
		<script src="js/g1_10_custom_dify.js"></script>
	<script src="https://udify.app/embed.min.js" id="6dNmiwvbRPuqvJW7"
		defer></script>
	<link href="css/g1_10_custom_dify.css" rel="stylesheet" />	
</body>
</html>
