/* 20250921 為了 全域聊天室 調整版面 */
#chat-toggle {
	position: fixed;
	bottom: 92px;
	left: 24px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: none;
	background: rgba(37, 29, 28, 0.65);
	font-size: 24px;
	cursor: pointer;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	z-index: 12000;
	color: white;
}

#chat-toggle>i {
	font-size: 20px;
	padding-right: 5px;
	padding-bottom: 5px;
}

#chat-window {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif;
	position: fixed;
	bottom: 96px;
	left: 92px;
	width: 24rem;
	height: 32rem;
	background: #f9f9f9;
	border-radius: 20px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
	display: none;
	flex-direction: column;
	overflow: hidden;
	z-index: 12000;
}

.chat-header {
	background: darkcyan;
	color: white;
	padding: 18px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 13.75px;
}

.chat-header>span {
	margin-left: 2px;
	font-weight: 800;
}

.chat-header>span:nth-child(2) {
	flex-grow: 10;
	margin-left: 10px;
	margin-bottom: 7.5px;
	font-size: 15px;
}

.chat-header>button {
	margin-right: 3px;
	color: white;
	border: 0;
	background: 0;
	font-weight: 800;
}

.chat-body {
	flex: 1;
	padding: 20px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
/* 	scroll-behavior: smooth; */
}

.message {
	display: flex;
	align-items: flex-end;
	gap: 8px;
	max-width: 80%;
	margin: 3px 0;
	word-break: break-all;
	
	opacity: 0;
 	transform: translateY(5px);
 	transition: opacity 1s ease, transform 1s ease;
}

.message.show {
  opacity: 1;
  transform: translateY(0);
}

.message.others {
	flex-direction: row;
}

.message.self {
	flex-direction: row-reverse;
	align-self: flex-end;
}

.avatar {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

.bubble {
	padding: 10px 14px;
	border-radius: 15px;
	background: #e5e5ea;
	font-size: 14px;
	line-height: 1.4;
	/* 	word-break: break-all; */
	overflow-wrap: break-word;
}

.bubble+time {
	font-size: 12px;
	width: 60px;
}


.bubble+time.self {
	text-align: right;
}

.message.self .bubble {
	background: darkcyan;
	color: white;
}

.chat-footer {
	display: flex;
	border-top: 1px solid #ddd;
	height: 48px;
}

.chat-footer input {
	flex: 1;
	border: none;
	padding: 10px;
}

.chat-footer input:focus {
	outline: none;
}

.chat-footer button {
	border: none;
	background: darkcyan;
	color: white;
	padding: 10px 15px 10px 15px;
	cursor: pointer;
}

.chat-footer input:disabled {
	background-color: grey !important;
}

.chat-footer input:disabled::placeholder {
	color: darkgrey;
}

.chat-footer button:disabled {
	background-color: grey !important;
	color: darkgrey;
	border-left: 1px solid darkgrey;
	cursor: default;
}

/* 登入提示區塊 */
#chat-overlay {
	position: absolute;
	bottom: 48px; /* 剛好在 chat-footer 上方 */
	left: 0;
	width: 100%;
	height: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to top, rgba(249, 249, 249, 1) 40%,
		rgba(249, 249, 249, 0));
	/* 往上漸層消失 */
	z-index: 5;
	text-align: center;
	font-size: 14px;
	color: #333;
}

#chat-overlay button {
	margin-bottom: 12px;
	padding: 6px 14px;
	border-radius: 6px;
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
	transition: all 0.2s ease-in-out;
	background: darkgrey;
	color: white;
	border: 0;
}

#chat-overlay span {
	margin-bottom: 8px;
}

#chat-overlay button:hover {
	background: rgba(28, 100, 242, 0.9);
}